.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: center;
}

img.avatar {
    width: 33%;
    border-radius: 35%;
}
/* The Close Button (x) */
.close {
    position: absolute;
    right: 0px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}
span.psw {
    float: right;
    padding-top: 30px;
}
/* Set a style for all buttons */
button {
    background-color: #1ea78d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
}

button:hover {
    opacity: 0.7;
}


.container {
    top: 0;
    width: auto;
    color: #A9A9A9;
}